
@import "bootstrap";
body {
  padding-top: 40px;
}

.action-space {
  padding: 1em;
}

.filter {
  display: inline;
  ul {
    font-size: $baseFontSize;
    line-height: $baseLineHeight;
  }
}

table {
  tr {
    td {
      -webkit-transition: 10s ease background-color;
    }
    &.warning {
      &:nth-child(odd) td {
        background-color: #f80 !important;
      }
      &:nth-child(even)td {
        background-color: #f70 !important;
      }
    }
  }
}
