!!! 5
%html
  %head
    %title Shipments control
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{ href: "/" } Shipment Control
          %ul.nav
            %li
              %a{ href: "/" } Overview
            %li.active
              %a{ href: "/shipments" } Shipments

    .container
      .row
        .span12
          .page-header
            %h1
              Shipment overview
              %small cargofreights arriving for Rotterdam

      .row
        .span9
          %table.table.table-striped
            %thead
              %tr
                %th ID
                %th Arrival time
                %th Destination
                %th Ship class
                %th Origin
                %th Status
            %tbody
              %tr
                %td SDG-343
                %td 13:14
                %td Rotterdam
                %td Freight 400
                %td Peru
                %td No action
              %tr
                %td SDJ-232
                %td 13:34
                %td Rotterdam
                %td Freight 500
                %td Colombia
                %td No action

        .span3
          .row-fluid.action-space
            %button.btn.btn-large.btn-primary Plan Shipment

          %h3 Status
          .row-fluid
            .well
              %p
                Arriving
                %span.badge 5
                next hour
              %p
                %span.badge.badge-success 10
                docks available

