!!! 5
%html
  %head
    %title Shipments control
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{ href: "/" } Shipment Control
          %ul.nav
            %li
              %a{ href: "/" } Overview
            %li.active
              %a{ href: "/shipments" } Shipments

    .container
      .row
        .span12
          .page-header
            %h1
              Shipment overview
              %small cargofreights arriving for all ports

      .row
        .span9.js-shipments

        .span3
          .row-fluid.action-space

            %a.btn.btn-large.btn-primary{ href: '/shipments/new' } Plan Shipment
          %h3 Status
          .row-fluid
            .well
              %p
                Arriving
                %span.badge 5
                next hour
              %p
                %span.badge.badge-success 10
                docks available

    = yield

